//Speakers ---------------------------------------
.speakers{
	.artist{
			@include clearfix;
			h3 {
				padding-top : 10px;
				padding-bottom : 5px;
				border-bottom : 1px dotted $lightgray;
				margin-bottom : 5px;
			}//h3
			
			p:nth-of-type(2){				
				text-align: justify;
	    		text-justify: auto;
			}

	}//artist
}//speakers

//nextmeeting ---------------------------------------
#nextmeeting {

		@include clearfix;
		img {
			@include border-radius;
			width : 30%;
			max-width: 130px;
			float : left;
			margin-right: 3%;

		}
}
//Social media icons ---------------------------------------

.socialmediaicons{

	.title {
		float : left;
	}

	ul {
		float : left;
		li {
			display : inline-block;
			margin-left : 5px;
			img{
				width : 30 px;
				@include border-radius(50%);
			}//img
		}//li
	}//ul
}//socialmediaicons

//Photogrid  ---------------------------------------

.pixgrid {
	@include clearfix;

	img{
		@include border-radius;
		width: 30%;
		max-width : 120px;
		cursor: pointer;
	}
}